/* 
selector{
property:value;
property: value;
}
 */
 body{
    background-color:white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    color:burlywood;
    text-align: center;
}
.container{
    display: flex;
    gap: 10px;
    /* flex-direction: row; */
    justify-content:center;
    align-items: center;


}
.services{
    background-color: thistle;
    border: 1px solid lightcoral;
    padding: 20px;
    flex: 250px;
}